<h1>Agregar autor</h1>
<form action="/authors/add" method="POST">
    <label for="name">Nombre:</label>
    <input type="text" name="name" id="name" required>
    <button type="submit">Guardar</button>
</form>
<a href="/authors">Volver</a>