<!-- filepath: c:\codename_\ADSO 2025\librarium\src\views\layout.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="min-h-screen flex flex-col bg-gray-900">
    <%- include('partials/header') %>
    <main class="flex-grow">
        <%- body %>
    </main>
    <%- include('partials/footer') %>
    <% if (typeof pagina !== 'undefined' && pagina === 'publishers') { %>
        <script src="/js/publishers/publishers-list.js"></script>
    <% } %>
</body>
</html>